.btn-red {
  background-color: #FFFFFF;
  color: #FF405E;
  border: 1px solid #FF405E;
  transition: 0.2s all ease;
  padding: 10px 40px;
  text-transform: uppercase; }
  .btn-red :hover, .btn-red :focus {
    background-color: #FF405E;
    color: #FFFFFF; }

.btn-red-inverse {
  background-color: #FF405E;
  color: #FFFFFF;
  border: 1px solid #FF405E;
  transition: 0.2s all ease;
  padding: 10px 40px;
  text-transform: uppercase; }
  .btn-red-inverse:hover, .btn-red-inverse:focus {
    background-color: #ec536b;
    color: #FFFFFF; }

.btn-blue {
  background-color: #FFFFFF;
  color: #6991AA;
  border: 1px solid #6991AA;
  transition: 0.2s all ease;
  padding: 10px 40px;
  text-transform: uppercase; }
  .btn-blue :hover, .btn-blue :focus {
    background-color: #6991AA;
    color: #FFFFFF; }

.btn-blue-inverse {
  background-color: #6991AA;
  color: #FFFFFF;
  border: 1px solid #6991AA;
  transition: 0.2s all ease;
  padding: 10px 40px;
  text-transform: uppercase; }
  .btn-blue-inverse:hover, .btn-blue-inverse:focus {
    background-color: #818c93;
    color: #FFFFFF; }

.custom-hr {
  background-color: #C3D2DC; }

.inline-block {
  display: inline-block; }

.row-eq {
  overflow: hidden; }

.col-eq {
  margin-bottom: -99999px !important;
  padding-bottom: 99999px !important; }

.site-footer {
  font-family: "Roboto", sans-serif;
  padding: 50px 0 100px 0;
  background-color: #142D3C;
  color: #FFFFFF; }
  .site-footer .heading {
    margin-bottom: 25px; }
  .site-footer .footer-link {
    margin-top: 5px; }
    .site-footer .footer-link a {
      color: #ccc;
      font-weight: 100; }
  .site-footer .text {
    color: #ccc;
    font-weight: 100; }
  .site-footer .contact-container a, .site-footer .contact-container a:hover, .site-footer .contact-container a:focus {
    text-decoration: none;
    color: #FFFFFF; }

#welcome {
  font-family: "Roboto", sans-serif;
  background-color: #1F4255;
  min-height: 500px;
  height: 100vh;
  padding-top: 100px;
  color: #F0F5FA; }
  #welcome .heading {
    font-size: 5em;
    font-weight: 100; }
  #welcome .sub-heading {
    font-size: 2em;
    font-weight: 100;
    margin: 0 20px;
    line-height: 1.8em; }
  @media (max-width: 768px) {
    #welcome .heading {
      font-size: 2.5em; }
    #welcome .sub-heading {
      font-size: 1em; } }

#features-short {
  font-family: "Roboto", sans-serif;
  padding: 50px 0;
  border-bottom: 2px solid #C3D2DC; }
  #features-short h3.heading {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 300;
    color: #142D3C; }
  #features-short .text {
    font-weight: 100; }

#friends {
  font-family: "Roboto", sans-serif;
  padding: 50px 0;
  text-align: center; }
  #friends .heading {
    color: #C3D2DC;
    font-weight: bold;
    padding: 40px 0;
    text-transform: uppercase; }

#features {
  font-family: "Roboto", sans-serif;
  padding: 50px 0;
  text-align: center;
  background-color: #F0F5FA; }
  #features .heading {
    color: #C3D2DC;
    font-weight: bold;
    padding: 40px 0 10px 0;
    text-transform: uppercase; }
  #features .heading-big {
    font-size: 3em;
    padding: 0 0 50px 0; }
  #features .description {
    line-height: 1.9em;
    text-align: left;
    color: #142D3C; }

.site-header .navbar {
  margin-bottom: 0px; }

.side-menu {
  background-color: #F0F5FA;
  padding: 50px 20px; }
  .side-menu h1, .side-menu h2, .side-menu h3, .side-menu h4, .side-menu h5, .side-menu h6 {
    margin-top: 0px; }
  .side-menu .row {
    margin-bottom: 20px; }

.content, .side-menu {
  padding-top: 60px; }

@media (min-width: 768px) {
  .content, .side-menu {
    padding-top: 100px; } }

a:hover {
  text-decoration: none; }

pre {
  border: 0px;
  border-radius: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 20px; }

.content {
  padding-right: 20px; }

.featured-card {
  margin-top: 10px; }

nav {
  box-shadow: 0 4px 2px -2px rgba(20, 45, 60, 0.25); }

.navbar {
  font-family: "Roboto", sans-serif; }

.navbar-white {
  background-color: #FFFFFF;
  border-color: none; }
  .navbar-white .navbar-brand, .navbar-white .nav.navbar-nav.navbar-right li a {
    color: #142D3C; }

.search-visible {
  left: 0; }

.search-hidden {
  left: 150%; }

.navbar-sm {
  margin-right: 15px; }

#search-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: .3s left ease; }
  #search-container #input-search-icon-container {
    height: 100%;
    display: table; }
    #search-container #input-search-icon-container #input-search-icon {
      font-size: 1.8em;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  #search-container #input-close-icon-container {
    height: 100%;
    display: table;
    background: #F0F5FA;
    color: #142D3C; }
    #search-container #input-close-icon-container #input-close-icon {
      font-size: 1.5em;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer; }
  #search-container #input-search {
    background: #F0F5FA;
    height: 100%;
    width: calc(100% - 160px);
    border-radius: 0;
    border: none;
    font-size: 1.3em; }

@media (min-width: 768px) {
  .navbar {
    min-height: 80px;
    transition: .5s all ease;
    box-sizing: border-box; }
  .navbar-dark {
    background-image: none !important;
    background-color: #1F4255 !important;
    border-bottom: 1px solid #304D5D !important; }
  .navbar-right > li > a {
    line-height: 80px;
    display: inline; }
  .navbar-brand, .navbar-right > li {
    padding: 0 15px;
    height: 80px;
    line-height: 80px; }
  .navbar-dark .navbar-brand, .nav.navbar-nav.navbar-right li a {
    color: #F0F5FA; }
  .nav-github {
    padding-top: 5px !important; }
    .nav-github a > i {
      font-size: 2.3em; }
  .nav-search-icon {
    font-size: 1.8em; } }

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.bg-red {
  background-color: #FF405E;
  color: #FFFFFF; }

.gutter-top-lg, .gutter-top-md {
  margin-top: 30px;
  min-height: 1px;
  box-sizing: border-box; }

.gutter-top-md {
  margin-top: 20px; }

.gutter-left-md {
  margin-left: 20px; }

.gutter-left-sm {
  margin-left: 10px; }
