<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">Learn more</h3>
                    <div class="footer-link">
                        <a href="#">Lorem ipsum dolor</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Lorem ipsum</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Github</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Gitter</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Github</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Gitter</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="heading">All things code</h3>
                    <div class="footer-link">
                        <a href="#">Support</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Community</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Github</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Gitter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <h3 class="heading">Stay up to date</h3>
                    <div class="text">
                        Leave your email for the latest news: We won’t spam you and won’t go off topic.
                    </div>
                    <div class="input-group gutter-top-md">
                        <input type="text" placeholder="Email" class="form-control">
                        <span class="input-group-btn">
                      <button class="btn bg-red" id="envelope-btn" type ="button">
                        <i class="fa fa-envelope"></i>
                      </button>
                   </span>
                    </div>
                    <div class="gutter-top-md contact-container">
                        Join us on:
                        <a href="#" class="gutter-left-sm">
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                        <a href="#" class="gutter-left-sm">
                    <i class="fa fa-linkedin fa-2x"></i>
                  </a>
                        <a href="#" class="gutter-left-sm">
                    <i class="fa fa-reddit fa-2x"></i>
                  </a>
                        <a href="#" class="gutter-left-sm">
                    <i class="fa fa-facebook fa-2x"></i>
                  </a>
                        <a href="#" class="gutter-left-sm">
                    <i class="fa fa-slack fa-2x"></i>
                  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>