{{ $author := .Params.author | default .Site.Author.name }}
{{ $author_link := .Params.author_link | default .Site.Author.link }}
<small>
    Posted on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
    by  <a href="{{ $author_link }}">{{ $author }}</a>
    {{ if isset .Params "categories" }}
        {{ $categoryCount := .Params.categories | len }}
        in <span>{{ range $index, $value := .Params.categories }}<a href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ $value }}</a>{{ if lt (add $index 1) $categoryCount }}, {{ end }}{{ end }}</span>
    {{ end }}
    {{ if isset .Params "tags" }}
        {{ $tagCount := .Params.tags | len }}
        //Tagged <span>{{ range $index, $value := .Params.tags }}<a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ $value }}</a>{{ if lt (add $index 1) $tagCount }}, {{ end }}{{ end }}</span>
    {{ end }}
</small>
