$color-blossom: #2c8898;
$color-blossom: #537488;
$color-fade: #c74459;

//$color-bg: #f9f9f9;
$color-bg: transparent;
$color-bg-alt: #f1f1f1;

$color-text: #4a4a4a;
$font-size-base: 1.8rem;

.content, .side-menu {
    @import "sakura/main";

    /* Overwrite body and html tags to root */
    font-family: $roboto;
    font-size: 62.5%; // So that root size becomes 10px
    // $font-size-base must be a rem value
    font-size: $font-size-base;
    line-height: 1.618;
    // max-width: 38em;
    margin: auto;
    color: $color-text;
    background-color: $color-bg;
    // padding: 13px;
    h4 { color: $red }

}
