// Landing page variables
$robot: 'Roboto', sans-serif;
$font-md: 24px;
$welcome-bgcolor: #1F4255;
$footer-bgcolor: #142D3C;
$red: #FF405E;
$white: #FFFFFF;
$navbar-font-color: #142D3C;
$cream: #F0F5FA;
$blue: #6991AA;
