.site-footer {
  font-family: $robot;
  padding: 50px 0 100px 0;
  background-color: $footer-bgcolor;
  color: $white;

  .heading {
    margin-bottom: 25px;
  }
  .footer-link {
    margin-top: 5px;

    a {
      color: #ccc;
      font-weight: 100;
    }
  }
  .text {
    color: #ccc;
    font-weight: 100;
  }

  #envelope-btn {
    padding: 9px 20px;
  }

  .contact-container {
    a, a:hover, a:focus {
      text-decoration: none;
      color: $white;
    }
  }
}
