.site-header .navbar {
    margin-bottom: 0px;
}

.side-menu {
    background-color: #F0F5FA;
    padding: 50px 20px;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
    }
    .row {
        margin-bottom: 20px;
    }
}

.content, .side-menu {
    padding-top: 60px;
}

@media (min-width: 768px) {
    .content, .side-menu {
        padding-top: 100px;
    }
}
