@mixin btnCustom ($bgcolor) {
  background-color: $white;
  color: $bgcolor;
  border: 1px solid $bgcolor;
  transition: 0.2s all ease;
  padding: 10px 40px;
  text-transform: uppercase;

  :hover, :focus {
    background-color: $bgcolor;
    color: $white;
  }
}


@mixin btnCustomInverse ($bgcolor) {
  background-color: $bgcolor;
  color: $white;
  border: 1px solid $bgcolor;
  transition: 0.2s all ease;
  padding: 10px 40px;
  text-transform: uppercase;
  :hover, :focus {
    background-color: $white;
    color: $bgcolor;
  }
}

.btn-red {
  @include btnCustom($red);
}

.btn-red-inverse {
  @include btnCustom($red);
}

.btn-blue {
  @include btnCustom($blue);
}

.btn-blue-inverse {
  @include btnCustom($blue);
}
